[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "~=22.12"
uvicorn = {version="~=0.20"}
gunicorn = {version="~=20.1"}

[dev-packages]
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.11"
